// Definição das cores padrão
$azul: #031149;
$amarelo: #e9c42f;

$theme-colors: (
  "primary": $azul,
  "secondary": $amarelo
);

// (opcional) Ajustar tons complementares
$info: lighten($azul, 10%);
$warning: $amarelo;
$success: #28a745;
$danger: #dc3545;

@import "bootstrap";

body {
  background-color: #f8f9fa;
  color: $azul;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: darken($primary, 5%);
  }
}

.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;

  &:hover {
    background-color: darken($secondary, 5%);
  }
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.border-primary {
  border-color: $primary !important;
}


 @import "login";
 @import "dashboard";