:root {
  --bs-nav-link-padding-x: 0 !important;
}

.nav-link {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body {
  color: #031149;
}

.card {
  transition: all 0.2s ease-in-out;
  color: #031149;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.text-yellow {
  color: #e9c42f !important;
}

.text-blue {
  color: #031149 !important;
}

.text-blue-muted {
  color: #031149ab !important;
}

.bg-azul-muted {
  background-color: #0311492e !important;
}

.bg-primary {
  background-color: #031149 !important;
}

.bg-secondary {
  background-color: #e9c42f !important;
  color: #031149 !important;
}

.btn-outline-primary {
  color: #031149 !important;
  border-color: #031149 !important;
}

.lucide {
  width: 22px;
  height: 22px;
  stroke: currentColor;
  stroke-width: 2;
  vertical-align: middle;
}

